
body {
    font-family: Arial, sans-serif;
    font-size: 100%;
    text-align: center;
}

h1 {
    font-size: 1.5em;
}

#debug-section {
    margin-top: 20px;
}

.output-columns {
    display: flex;
    justify-content: center;
}

.output-column {
    width: 45%;
    padding: 10px;
}

.output-column div {
    font-size: 0.7em;
    margin: 5px 0;
}

.match {
    color: black;
}

.mismatch {
    color: red;
}
