body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

.file-upload {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="file"] {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

#result {
    margin-top: 30px;
    display: none;
}

.processed-files {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

pre {
    font-size: 70%; /* Set font size to 70% of normal */
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre .diff {
    color: red; /* Highlight differences in red */
}

pre .line-number {
    color: blue; /* Line numbers in blue */
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Navigation bar styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #2460ad;
    color: white;
}

.nav-logo {
    height: 50px;
    width: auto;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.nav-link:hover {
    text-decoration: underline;
}

.description {
    font-size: 1em;
    color: #333;
    margin: 10px 20px;
    text-align: left;
}

.match {
    color: black;
}

.mismatch {
    color: red;
}

#loadingSpinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure it’s above other elements */
}

.spinner {
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

