body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

.file-upload {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="file"] {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

#result {
    margin-top: 30px;
    display: none;
}

.processed-files {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

pre {
    font-size: 70%; /* Set font size to 70% of normal */
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre .diff {
    color: red; /* Highlight differences in red */
}

pre .line-number {
    color: blue; /* Line numbers in blue */
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}
